{% extends 'admin/base.html.twig' %}

{% block metatitle %}
	Créez un compte !
{% endblock metatitle %}

{% block main %}

	{% for message in app.flashes('admin_created') %}
		<div class="success-message">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('error_admin_created') %}
		<div class="error-message">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('error_email_taken') %}
		<div class="error-message">
			{{ message }}
		</div>
	{% endfor %}

	<section class="container">

		<h1>Crée un compte administrateur</h1>

		<form method="POST" class="product-form">

			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" name="email">
			</div>

			<div class="form-group">
				<label for="password">Mot de passe</label>
				<input type="password" name="password">
			</div>

			<div>
				<button type="submit">Créer l'admin</button>
			</div>
		</form>
	</section>
{% endblock main %}
