{% extends 'base.html.twig' %}

{% block metatitle %}
	Toutes les catégories
{% endblock metatitle %}

{% block main %}
	<section class="container">
		<h2>Toutes les catégories</h2>
		<div class="catalog-list">
			{% for category in categories %}
				<a href="{{ path('show-category', {'id': category.id}) }}">
					<article class= "category {{ category.color }}">
						<h3>{{ category.title }}</h3>
					</article>
				</a>
			{% endfor %}
		</div>

	</section>
{% endblock main %}
