{% extends 'guest/base.html.twig' %}

{% block metatitle %}
	Erreur : Page non trouvée
{% endblock %}

{% block main %}
	<section class="container">
		<h1>Erreur 404 : Page non trouvée</h1>
	</section>
{% endblock %}
