{% extends 'guest/base.html.twig' %}

{% block metatitle %}
	Tout les produits
{% endblock metatitle %}

{% block main %}
	<section class="container">
		<h2>Tout les produits</h2>
		<div class="catalog-list">
			{% for product in products %}
				<a href="{{ path('show-product', {'id': product.id}) }}">
					<article class="category {{ product.category.color }}">
						<h3>{{ product.title }}</h3>
					</article>
				</a>
			{% endfor %}
		</div>

	</section>
{% endblock main %}
