<header>
	<nav>
		<ul>
			<li><a href="{{ path('home-admin') }}">Accueil</a></li>
            <li><a href="{{ path('category-list') }}">Catégories</a></li>
            <li><a href="{{ path('admin-product-list') }}">Produits</a></li>
			<li><a href="{{path('admin-create-product')}}">Créer un produit</a></li>
		</ul>
	</nav>
</header>
