{% extends 'admin/base.html.twig' %}

{% block metatitle %}
	Crée ton produit !!!
{% endblock metatitle %}
{% block flashMessage %}
	{% for message in app.flashes('error_product_created') %}
		<div class="error-message">
			{{ message }}
		</div>
	{% endfor %}
{% endblock flashMessage %}

{% block main %}
	<section class="home-page">

		<form method="post" class="product-form" enctype="multipart/form-data">

			<div class="form-group">
				<label for="title">Titre du produit</label>
				<input type="text" placeholder="Entrez le titre du produit..." name="title" id="title">
			</div>

			<div class="form-group">
				<label for="category">Catégorie de l'article</label>
				<select name="category" id="category">
					<option value="" selected disabled>--Choisissez une catégorie svp--</option>
					{% for category in categories %}
						<option value="{{ category.id }}">{{ category.title}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" placeholder="Entrez la description du produit..." name="description" id="description">
			</div>

			<div class="form-group">
				<label for="price">Prix</label>
				<input type="number" name="price" id="price" placeholder="Entrez le prix du produit...">
			</div>

			<div class="form-group">
				<label for="is_published">Publier (cochez si oui)</label>
				<input type="checkbox" name="is_published" id="is_published">
			</div>

			<div class="form-group">
				<label for="image">Image</label>
				<input type="file" name="image" id="image">
			</div>

			<div class="form-group">
				<button type="submit" name="send_article">Créer le produit</button>
			</div>

		</form>

	</section>
{% endblock main %}
